@use "../themeprovider/themeprovider" as theme;

.backdrop {
  background: theme.$transparent-black-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.modal {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  overflow-y: auto;
  width: min(85%, 45em);
  background: theme.$dark-blue-color;
  padding: 2em;
  border-radius: 5px;

  .close-button {
    font-size: 1.8rem;
    background: transparent;
    border: none;
    color: theme.$orange-color;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    cursor: pointer;
    transition: color 0.15s ease-in-out;

    &:hover {
      color: theme.$light-orange-color;
    }
  }

  h1 {
    color: theme.$white-color;
    font-family: "PoppinsMedium";
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    margin-top: 0.3em;
  }

  p {
    color: theme.$white-color;
    font-family: "PoppinsRegular";
    margin-top: 0.5em;
    font-size: clamp(1rem, 1.5vw, 1.1rem);
  }

  .google-button {
    background: theme.$white-color;
    color: theme.$black-color;
    font-size: 1.15rem;
    font-family: "PoppinsSemiBold";
    border: none;
    display: flex;
    align-items: center;
    padding: 0.8em;
    border-radius: 5px;
    margin-top: 2em;
    cursor: pointer;
    transition: background 0.15s ease-in-out;

    img {
      width: 1.8em;
      margin-left: 0.5em;
    }

    &:hover {
      background: theme.$transparent-white-color;
    }
  }
}
