@use "../themeprovider/themeprovider" as theme;

.main-bg {
  background: url("../../assets/images/main-background.jpg") no-repeat top
    center fixed;
  background-size: cover;
}

.bookmark-card {
  width: min(85%, 45em);
  margin: 1.5em auto 3em auto;
  background: theme.$transparent-dark-purple-color;
  padding: 1.5em;
  border-radius: 5px;

  .header {
    display: flex;
    justify-content: center;

    h1 {
      color: theme.$white-color;
      font-family: "PoppinsBold";
      text-align: center;
      font-size: 1.8rem;
    }
  }
}
