@use "../themeprovider/themeprovider" as theme;

.navbar {
  width: min(85%, 45em);
  margin: 2em auto 0em auto;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
  justify-content: center;
  gap: 0.7em;

  .user-icon {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    top: 0.26em;

    img {
      width: 5em;
      border-radius: 50%;
    }
  }
}
