@use "../themeprovider/themeprovider" as theme;

.main-bg {
  background: url("../../assets/images/main-background.jpg") no-repeat top
    center fixed;
  background-size: cover;
}

.container {
  width: min(85%, 45em);
  margin: 1.5em auto 3em auto;

  .weather-card {
    background: theme.$transparent-light-sky-blue-color;
    border-radius: 5px;
    padding: 2.5em 1.5em;
    margin-top: 2em;
  }
}

@media (min-width: theme.$media-query-very-small-value) {
  .container {
    .weather-card {
      padding: 2.5em;
    }
  }
}
