@use "../themeprovider/themeprovider" as theme;

.main-bg {
  background: url("../../assets/images/main-background.jpg") no-repeat top
    center fixed;
  background-size: cover;
}

.history-card {
  width: min(85%, 45em);
  margin: 1.5em auto 3em auto;
  background: theme.$transparent-dark-purple-color;
  padding: 1.5em;
  border-radius: 5px;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    h1 {
      color: theme.$white-color;
      font-family: "PoppinsBold";
      text-align: center;
      font-size: 1.8rem;
    }

    button {
      background: theme.$orange-color;
      color: theme.$white-color;
      font-family: "PoppinsSemiBold";
      border: none;
      padding: 0.7em 1em;
      border-radius: 5px;
      font-size: 0.95rem;
      text-align: center;
      transition: background 0.15s ease-in-out;
      cursor: pointer;

      &:hover {
        background: theme.$light-orange-color;
      }
    }
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2.2em;

    .country-card {
      background: theme.$lighter-blue-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1em;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      gap: 0.2em;
      transition: background 0.15s ease-in-out;

      .first-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 0.5em;

        img {
          width: 6em;
        }

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;

          h1:first-of-type {
            color: theme.$black-color;
            font-family: "PoppinsBold";
            font-size: 2rem;
            text-align: center;
          }

          h1:last-of-type {
            color: theme.$black-color;
            font-family: "PoppinsBold";
            font-size: 1.6rem;
            text-align: center;
            overflow-wrap: anywhere;
          }
        }
      }

      .second-section {
        p {
          color: theme.$black-color;
          font-family: "PoppinsRegular";
          font-size: 0.9rem;
        }
      }

      &:hover {
        background: theme.$light-blue-color;
      }
    }
  }
}

@media (min-width: theme.$media-query-very-small-value) {
  .history-card {
    .cards-container {
      .country-card {
        align-items: flex-start;

        .first-section {
          flex-direction: row;

          div {
            flex-direction: row-reverse;
            justify-content: space-between;

            h1:first-of-type {
              text-align: right;
            }

            h1:last-of-type {
              text-align: left;
            }
          }
        }
      }
    }
  }
}
